body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    background: purple;
}

.chart {
    position: relative;
    width: 50vw;
    height: 50vh;
}