@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}

.chart {
    position: relative;
    width: 50vw;
    height: 50vh;
}

.posi {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.pro {
    width: 50%;
    height: 100%;
    background: rgb(209, 209, 209);
    padding: 1rem .5rem;
}

.pro1 > h1 {
    font-size: 2rem;
    font-weight: 600;
    tt
}

.pro2 > p {
    font-size: 1.2rem;
    line-height: 1.3;
}


.beh {
    width: 50%;
    height: 100%;
    background: lightblue;
    padding: 1rem .5rem;
}